@import '../../assets/styles/minor';

/** App - component styles */
.App {
	width: 50rem;
	background-color: white;
	border-radius: $radius--default;
	box-shadow: inset 0 11.5rem 0 -2rem $brand--main, $shadow--default;
	padding: 3.6rem 1.7rem;
	box-sizing: border-box;
	max-height: 80rem;
	min-height: 80rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	& .userProfile__counters {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 2rem;
		margin-bottom: 1rem;
	}

	#UserProfile {
		flex-grow: 0;
	}
	#Comments {
		flex-grow: 1;
		overflow: scroll;
	}
}
