.Avatar {
	background-image: url('../../assets/img/user_placeholder.png');
	background-size: cover;
	border-radius: 50%;
	width: 7rem;
	height: 7rem;

	&__image {
		border-radius: 50%;
		width: 7rem;
		height: 7rem;

		&--smaller {
			width: 4rem;
			height: 4rem;
		}
	}

	&--smaller {
		width: 4rem;
		height: 4rem;
	}
}
