@import '../../assets/styles/colors.scss';
@import '../../assets/styles/base.scss';
@import '../../assets/styles/minor.scss';

.Module {
	background-color: $module__background;
	border-radius: $radius--default;
	box-shadow: $shadow--default;
	font-family: Montserrat, sans-serif;
	padding: 2rem;
	min-width: 100%;
}
