@import './colors.scss';

html {
	font-size: 62.5%; /* Now 10px = 1rem! */
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1.4rem;
	color: $typo__paragraph;
	line-height: 2.1rem;
	background-color: white;
}

a {
	color: $typo__link;
	text-decoration: none;
}

button,
input {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#root {
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100%;
	min-height: 100vh;
}
